<div class="create-game-container">
  <header class="game-header">
    <h1>{{gameName}}</h1>
  </header>

  <form class="create-game-form" (ngSubmit)="createGame()">
    <div class="form-group">
      <label for="name">Game Name</label>
      <input
        class="form-input"
        id="name"
        type="text"
        [formControl]="name"
        placeholder="Enter your game's name">
    </div>

    <div class="form-group">
      <label for="votingSystem">Voting System</label>
      <div class="dropdown" (click)="toggleDropdown($event)">
        <div class="select-container">
          <input
            class="form-input"
            id="votingSystem"
            type="text"
            [formControl]="votingSystem"
            placeholder="Select voting system"
            [value]="selectedGame"
            readonly>
          <div class="select-arrow">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18">
              <path d="M7 10l5 5 5-5H7z"/>
            </svg>
          </div>
        </div>

        <ul class="dropdown-list" [ngClass]="{'show': showDropdown}">
          <li *ngFor="let game of gameList" (click)="selectGame(game)">{{ game }}</li>
        </ul>
      </div>
    </div>

    <button type="submit" class="create-button">Create Game</button>
  </form>
</div>
