<div *ngIf="isVisible" class="modal-overlay">
  <div class="modal-container">
    <div class="modal-header">
      <h2>Invite Players</h2>
      <button class="close-button" (click)="hideModal()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
          <path d="M18.3 5.71a.996.996 0 00-1.41 0L12 10.59 7.11 5.7A.996.996 0 105.7 7.11L10.59 12 5.7 16.89a.996.996 0 101.41 1.41L12 13.41l4.89 4.89a.996.996 0 101.41-1.41L13.41 12l4.89-4.89c.38-.38.38-1.02 0-1.4z"/>
        </svg>
      </button>
    </div>

    <div class="modal-content">
      <p class="invitation-instructions">
        Share this link with your team members to invite them to your planning poker session.
      </p>

      <div class="invitation-link">
        <input
          #invitationInput
          type="text"
          [value]="invitationUrl"
          class="invitation-input"
          readonly
          (click)="selectInvitationLink()"
        />

        <button class="copy-button" (click)="copyInvitationLink()">
          <span *ngIf="!copySuccess">Copy</span>
          <span *ngIf="copySuccess" class="success-message">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16">
              <path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z" fill="currentColor"/>
            </svg>
            Copied
          </span>
        </button>
      </div>
    </div>

    <div class="modal-footer">
      <button class="close-button-text" (click)="hideModal()">Close</button>
    </div>
  </div>
</div>
